h2 Acara Akan Datang
ul
    li #[a(href="/2017/01/30/Ekspedisi-Memburu-Udang-Jenggo-2017/") 18 Februari 2017 - Ekspedisi Memburu Jenggo]
    li #[a(href="/2017/02/02/Ibadah-Umrah-KRISPutra-1438H-2017M/") 18 - 29 Mei - Ibadah Umrah KRISPutra 1438H/2017M]
    li Ekspedisi Mencandat Sotong 2017
    li Ekspedisi Laut Dalam 2017
    li Kembara Putrajaya 2017
    a(href="/aktiviti", class="post-read-more")!= __('more')