.alert
    h4 Acara Akan Datang
    ul
        li 9 Februari 2017 - Kursus Umrah
        li #[a(href="/2017/01/30/Ekspedisi-Memburu-Udang-Jenggo-2017/") 18 Februari 2017 - Ekspedisi Memburu Jenggo]
        li Ekspedisi Mencandat Sotong 2017
        li Ekspedisi Laut Dalam 2017
        li Kembara Putrajaya 2017
        a(href="/aktiviti", class="post-read-more")!= __('more')