.alert
    h4 Acara Akan Datang
    ul
        li 9 Febuari 2017 - Kursus Umrah
        li Mencandat Sotong
        li Ekspedisi Laut Dalam
        li Kembara Putrajaya
        a(href="/aktiviti", class="post-read-more")!= __('more')