h2 Acara Akan Datang
ul
    li #[a(href="/2017/03/23/Program-Mencandat-Sotong-Di-Kuala-Terengganu/") 21 - 22 April - Program Mencandat Sotong Di Kuala Terengganu]
    li #[a(href="/2017/02/02/Ibadah-Umrah-KRISPutra-1438H-2017M/") 18 - 29 Mei - Ibadah Umrah KRISPutra 1438H/2017M]
    li Ekspedisi Laut Dalam 2017
    li Kembara Putrajaya 2017
    a(href="/aktiviti", class="post-read-more")!= __('more')