.row 
    .col-md-4.col-sm-4.col-xs-4
        a(href="galeri/#nanogallery/nanoGallery/72157678041213876")
            img(class="img-thumbnail", src="https://farm1.staticflickr.com/428/30957166814_d236762050.jpg")
            h4 Baucher Back To School
    .col-md-4.col-sm-4.col-xs-4
        a(href="galeri/#nanogallery/nanoGallery/72157677816378106")
            img(class="img-thumbnail", src="https://farm1.staticflickr.com/362/30872270583_a841de5a9f.jpg")
            h4 Anugerah Anak Cemerlang 2015/2016
    .col-md-4.col-sm-4.col-xs-4
        a(href="galeri/#nanogallery/nanoGallery/72157677816436796")
            img(class="img-thumbnail", src="https://farm1.staticflickr.com/714/31567929341_8fc9e095f1.jpg")
            h4 Tilawah Al-Quran Kanak-kanak 2016