h2 Dari Meja Pengerusi KRISPutra Sesi 2016/2018
p Assalamualaikum dan Salam Sejahtera
<img src="/azizipic.jpg" class="img-thumbnail pull-right">
p "<strong>KRISPutra</strong> adalah medium bagi semua ahli keluarga besar kita di Perbadanan Putrajaya untuk mengseimbangkan antara tugas hakiki seharian dengan aktiviti sosial dan rekreasi yang sihat. 
a(href="/jawatankuasa/pengerusi/#ucapan", class="post-read-more")!= __('more')