.row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .alert.alert-info
            h2
                em Dari Meja Pengerusi KRISPutra Sesi 2016/2018
            img(class="img-thumbnail pull-right", src=url_for(theme.pengerusi))
            p <strong>KRISPutra</strong> adalah medium bagi semua ahli untuk mengimbangkan tugas seharian dengan aktiviti sosial yang sihat meliputi aspek sosial, kebajikan, keagamaan, silaturrahim, muhibbah dan ukhuwah. Aktiviti-aktiviti <strong>KRISPutra</strong> yang dirancang juga adalah merupakan wadah untuk membantu membentuk dan mengukuhkan <em>Sense of Identity</em> di kalangan pegawai dan warga PPj yang mana ianya meliputi 3 aspek utama iaitu Sosial &amp; Kebajikan, Sukan &amp; Rekreasi serta Agama &amp; Siasah. Semoga <strong>KRISPutra</strong> akan terus maju dan bergerak seiring dengan Visi dan Misi PPj.