.row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .alert.alert-info
            h2
                em Dari Meja Pengerusi KRISPutra Sesi 2016/2018
            img(class="img-thumbnail pull-right", src=url_for(theme.pengerusi))
            p Assalamualaikum dan Salam Sejahtera

            p "<strong>KRISPutra</strong> adalah medium bagi semua ahli keluarga besar kita di Perbadanan Putrajaya untuk mengseimbangkan antara tugas hakiki seharian dengan aktiviti sosial dan rekreasi yang sihat. 

            p Dengan meliputi aspek sosial dan kebajikan, sukan dan rekreasi, serta program-program keagamaan dan kebudyaan, aktiviti <strong>KRISPutra</strong> dirancang untuk menjadi wadah bagi membantu membentuk ‘Sense of Belonging’ di kalangan pegawai dan kakitangan PPj. Dengan itu, adalah diharapkan agar ia dapat menjadi pemangkin bagi mengukuhkan lagi silaturrahim, mahabbah dan ukhuwah antara kita – suatu prakondisi penting untuk menjadikan Perbadanan Putrajaya suatu organisasi yang utuh dan disegani. 

            p Saya menyeru semua ahli KRISPutra agar dapat terus memberi sokongan dan maklumbalas terhadap aktiviti-aktiviti yang akan diatur oleh <strong>KRISPutra</strong>. Kami AJK <strong>KRISPutra</strong> Sesi 2016-2018 bersedia berkhidmat. 

            p Semoga <strong>KRISPutra</strong> akan terus maju dan bergerak seiring dengan Visi dan Misi PPj.”